.file-box {
    text-align: center;
}

.file-input {
    color: #fff;
    margin: 24px 0px;
    margin-top: 250px;
    font-size: medium;
}

.or {
    display: none;
    color: #fff;
}

.drag-container {
    // width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px dashed #fff;
    border-radius: 5px;
    margin: 24px;
}

@media only screen and (min-width: 768px) {
    .or {
        display: block;
    }
    .drag-container,
    .drag-area-overlay {
        display: flex !important;
    }
    .file-input {
        margin-top: 24px;
    }
}

.drag-area-overlay {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-area {
    height: 250px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 10;
}

.drag-message {
    color: #fff;
    background: transparent;
}